<section class="bikes-container">
  <div class="row row-cols-3 g-3 justify-content-evenly">
    @for (bike of bikes; track bike.id) {
      <div class="col d-flex justify-content-center">
        <div class="card " style="width: 18rem;">
          <img src="{{bike.imagelink}}" class="card-img-top" alt="aeroad-cf-slx-7-disc-etap-bike">
          <div class="card-body">
            <div class="title-container">
              <h5 class="card-title">{{bike.brand}}</h5>
            </div>
            <div class="description-container mb-3">
              <p class="card-text">{{bike.description}}</p>
            </div>
            <div class="button-container d-flex justify-content-center">
              <a routerLink="/edit-bike/{{bike.id}}" class="btn btn-primary">Edit</a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</section>
