<section class="container my-5">
  <div class="row row-cols-3 g-3 justify-content-evenly">
    <div class="col d-flex justify-content-center">
      <div class="card " style="width: 18rem;">
        <img src="assets/images/aeroad-cf-slx-7-disc-etap.webp" class="card-img-top" alt="aeroad-cf-slx-7-disc-etap-bike">
        <div class="card-body">
          <div class="title-container">
            <h5 class="card-title">Card Title</h5>
          </div>
          <div class="description-container mb-3">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="button-container d-flex justify-content-center">
            <a href="edit-bike" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/aeroad-cf-slx-8-disc-etap.webp" class="card-img-top" alt="aeroad-cf-slx-8-disc-etap-bike">
        <div class="card-body">
          <div class="title-container">
            <h5 class="card-title">Card Title</h5>
          </div>
          <div class="description-container mb-3">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="button-container d-flex justify-content-center">
            <a href="edit-bike" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/ultimate-cfr-di2.webp" class="card-img-top" alt="ultimate-cfr-di2-bike">
        <div class="card-body">
          <div class="title-container">
            <h5 class="card-title">Card Title</h5>
          </div>
          <div class="description-container mb-3">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="button-container d-flex justify-content-center">
            <a href="edit-bike" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
