<div class="container">
  <div class="card">
    <h2 class="text-center">Users List</h2>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            @for (user of users; track user.id) {
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
              </tr>
            } @empty {
              <tr>
                <td>n/a</td>
                <td>n/a</td>
                <td>n/a</td>
                <td>n/a</td>
              </tr>
            }
        </tbody>
      </table>
    </div>
  </div>
</div>
