<section class="container my-5">
  <div class="title">
    <h2 class="text-center">Edit Bike</h2>
  </div>
  <div class="container form-container mt-3 bg-primary">
    <form class="row row-cols-1 g-1">
      <div class="form-group my-2">
        <label for="exampleInputEmail1" class="text-light mb-1">Brand</label>
        <input type="brand" class="form-control" id="exampleInputEmail1" placeholder="Enter brand">
      </div>
      <div class="form-group my-2">
        <label for="exampleFormControlTextarea1" class="text-light mb-1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group my-2 row row-cols-1 g-1 text-light">
        <label for="exampleFormControlFile1" class="mb-1">Bike Image</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="button-container d-flex justify-content-evenly">
        <button type="submit" class="btn btn-success my-2">Submit</button>
        <button type="submit" class="btn btn-danger my-2">Delete</button>
      </div>
    </form>
  </div>
</section>
